@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
.row{
    display: flex;
    gap: 1rem;
}
body{
    
    font-family: 'Didact Gothic', sans-serif !important;
}
#mainnav{
    background-color: #00440b;;
}