{% extends 'base.html' %}
{% block content %}

<div class="container  bg-light mt-1">
  <h2 class="title"> {{certs.Codigo}}</h2>
    <ul class=" card card-body">
        <li  class="list-group-item">Avaluador: {{certs.RNA}}</li>
        <li class="list-group-item">Otorgamiento: {{certs.Otorgamiento}}</li>
        <li class="list-group-item">Vencimiento: {{certs.PrimerVencimiento}}</li>
        <li class="list-group-item">Renovacion: {{certs.Renovacion}}</li>
        <li class="list-group-item">Vencimiento Renovacion: {{certs.Vencimiento}}</li>
    </ul>
    <div class="container" >
        <a type="button" class="btn btn-outline-success" href="/bases/generarcertificado/{{certs.Codigo}}">Generar Certificado Editable</a>
        <a type="button" class="btn btn-outline-success" href="/bases/ampliacion">Ampliar alcance a Internacional</a>
    </div>
  
      
  
</div>

{% endblock %}